<div class="topBar flex flex-row w-full h-9 bg-black bg-contain">
    <div class="flex flex-row items-center w-full">
        <button id="showHideMenu" class="w-7 h-7 ml-4
                  bg-contain cursor-pointer hover:bg-slate-600 bg-no-repeat bg-center active:bg-cyan-600 "></button>

        <div class="flex flex-row w-full h-9 ml-8 mt-1 pb-1 w-full items-center leading-9 text-white text-2xl">Materia
            Actual</div>
    </div>
    <div class="flex flex-row w-24 h-9 items-center">
        <button id="minimize_btn" class="top_btn"></button>
        <button id="window_btn" class="top_btn restore_btn"></button>
        <button id="close_btn" class="top_btn hover:bg-red-600"></button>
    </div>
</div>