#font_size{
    max-width: 30px;
}

/*body{
    background-color: #0D0D0D;
}
header{ 
    background-color: #056CF2;
}*/

.button_img{
    max-width: 30px;
    margin: 1px;
    height: auto;   
}
.button_draw{
    max-width: 75px;
    margin: 1px;
    height: auto;   
}
.header_editor{
    float: left;
    text-align: center;
}

.clear{
    float: none;
}

.separator{
    margin: 1%;
    display: block;
}

#etiquetas{
    overflow: hidden;
    margin-top: 2%;
    padding-inline: 20%;
}

#text_editor_area{
    display: flex;
    justify-content: center;
}
#buscadorPalabras{
    float: right;
}