#font_size{
    max-width: 40px;
}

body{
    background-color: #0D0D0D;
}
header{ 
    width:100%;
	height:90px;
    margin: auto;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #242525;

    color: #D9D9D9;
}

.button_img{
    max-width: 30px;
    margin: 1px;
    height: auto;   
}
.button_img:hover{
    background: #056CF2;
}

.button_draw{
    max-width: 75px;
    margin: 1px;
    height: auto;   
}
.button_draw:hover{
    background: #056CF2;
}
.header_editor{
    float: left;
    margin-top: 5px;
    text-align: center;
}

.clear{
    float: none;
}

.separator{
    margin: 1%;
    display: block;
}

#etiquetas{
    overflow: hidden;
    margin-top: 2%;
    padding-inline: 20%;
}

#text_editor_area{
    display: flex;
    justify-content: center;
}
#buscadorPalabras{
    float: right;
}
textarea{
    font-size: 20px;    
    border-radius: 5px;
    text-align: center;
}